@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fffaf0;
    font-family: "Cormorant Garamond", serif;
}

.encabezado{
    background-color: #b22222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.encabezado h1{
    color: #fffaf0;
}

.letra {
    color: #2f4f4f;
}

.encabezado nav{
    display: flex;
    gap: 25px;
}

.encabezado nav > a{
    text-decoration: none;
    font-size: 23px;
    color: #fffaf0;
}

.hero{
    background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5)),
    url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.frase{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: #fffaf0;
    background-color: rgba(0,0,0,0.3);
    padding: 20px 15px;
}

.presentacion{
    text-align: center;
    font-size: 40px;
}


.comidas div > img,
.postres div > img{
    height: 300px;
    width: 450px;
}

.comidas div, .postres div{
    background-color: #dbc024bc;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.comidas, .postres{
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    gap: 35px;
}


.pie{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2f4f4f;
    gap: 15px;
    padding: 15px 0;
}

.pie a{
    color: #fffaf0;
    text-decoration: none;
}

.pie p{
    color: #fffaf0
}
